<!-- navbar-admin.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
</head>

<body>
<!-- Định nghĩa fragment "navbar" -->
<th:block th:fragment="navbar">
    <nav class="app-header navbar navbar-expand bg-body">
        <div class="container-fluid">

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown user-menu">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img
                                src="https://img.tripi.vn/cdn-cgi/image/width=700,height=700/https://gcs.tripi.vn/public-tripi/tripi-feed/img/474082yTD/avatar-vit-bua-hai-huoc_044341786.jpg"
                                class="user-image rounded-circle shadow"
                                alt="User Image" />
                        <span class="d-none d-md-inline">Admin</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
</body>
</html>
