<!-- navbar-admin.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
</head>

<body>
<!-- Định nghĩa fragment "navbar" -->

<th:block th:fragment="sidebar">
    <aside class="app-sidebar  " data-bs-theme="white">
        <div class="sidebar-brand">
            <a th:href="@{/admin/dashboard}" class="brand-link">
                <img
                        src="https://img.tripi.vn/cdn-cgi/image/width=700,height=700/https://gcs.tripi.vn/public-tripi/tripi-feed/img/474082yTD/avatar-vit-bua-hai-huoc_044341786.jpg"
                        alt="AdminLTE Logo"
                        class="brand-image opacity-75 shadow"/>
                <span class="brand-text fw-light">Dashboard</span>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <nav class="mt-2">
                <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a th:href="@{/admin/dashboard}" class="nav-link">
                            <i class="nav-icon bi bi-grip-horizontal"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/admin/category}" class="nav-link">
                            <i class="nav-icon bi bi-grip-horizontal"></i>
                            <p>Quản lý danh mục</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/admin/product}" class="nav-link">
                            <i class="nav-icon bi bi-grip-horizontal"></i>
                            <p>Quản lý sản phẩm</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/admin/method}" class="nav-link">
                            <i class="nav-icon bi bi-grip-horizontal"></i>
                            <p>Quản lý phương thức</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/admin/order}" class="nav-link">
                            <i class="nav-icon bi bi-grip-horizontal"></i>
                            <p>Quản lý đơn hàng</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/admin/user}" class="nav-link">
                            <i class="nav-icon bi bi-grip-horizontal"></i>
                            <p>Quản lý người dùng</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/logout}" class="nav-link">
                            <i class="nav-icon bi bi-grip-horizontal"></i>
                            <p>Đăng xuất</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</th:block>
</body>
</html>
