<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li class="active"><a href="./shop.html">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="#"><img src="img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <form id="checkout-form">
                <div class="row">
                    <!-- BÊN TRÁI: THÔNG TIN GIAO HÀNG -->
                    <div class="col-lg-7">
                        <h4>Thông tin giao hàng</h4>
                        <div class="checkout__input">
                            <p>Họ tên</p>
                            <input type="text" id="fullname" required>
                        </div>
                        <div class="checkout__input">
                            <p>Email</p>
                            <input type="email" id="email" readonly>
                        </div>
                        <div class="checkout__input">
                            <p>Số điện thoại</p>
                            <input type="text" id="phone" required>
                        </div>
                        <div class="checkout__input">
                            <p>Địa chỉ giao hàng</p>
                            <input type="text" id="address" required>
                        </div>
                        <div class="checkout__input">
                            <p>Ghi chú (tuỳ chọn)</p>
                            <textarea id="note" rows="3" placeholder="Ví dụ: giao ngoài giờ hành chính, gọi trước khi đến..."></textarea>
                        </div>

                        <div class="checkout__input">
                            <p>Phương thức thanh toán<span>*</span></p>
                            <div class="payment-methods">
                                <label class="radio-item">
                                    <input type="radio" name="paymentMethod" value="COD" checked>
                                    Thanh toán khi nhận hàng (COD)
                                </label>
                                <label class="radio-item">
                                    <input type="radio" name="paymentMethod" value="BANK">
                                    Chuyển khoản ngân hàng
                                </label>
                            </div>
                        </div>


                    </div>



                    <!-- BÊN PHẢI: DANH SÁCH SẢN PHẨM -->
                    <div class="col-lg-5">
                        <div class="checkout__order">
                            <h4>Thông tin đơn hàng</h4>
                            <ul id="checkout-products" class="checkout__total__products" style="padding-left: 0;">
                                <!-- JS sẽ render các sản phẩm ở đây -->
                            </ul>
                            <ul class="checkout__total__all">
                                <li>Tổng cộng <span id="checkout-total">0đ</span></li>
                            </ul>
                            <button type="submit" class="site-btn">XÁC NHẬN ĐẶT HÀNG</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // Biến toàn cục để lưu thông tin cần thiết
            let currentUser = null;
            let cartItems = [];

            // 1. Lấy thông tin người dùng (giả sử API trả về user có 'userID')
            fetch("/api/users/info") // API này cần trả về đầy đủ thông tin user, bao gồm cả ID
                .then(res => res.json())
                .then(user => {
                    currentUser = user; // Lưu thông tin người dùng
                    document.getElementById("fullname").value = user.name || ""; // Sửa 'fullname' thành 'name' để khớp với User Entity
                    document.getElementById("email").value = user.email || "";
                    document.getElementById("phone").value = user.phone || "";
                    document.getElementById("address").value = user.address || "";
                });

            // 2. Lấy thông tin giỏ hàng
            fetch("/api/cart") // API này cần trả về list sản phẩm có cấu trúc giống OrderItemDTO
                .then(res => res.json())
                .then(cart => {
                    cartItems = cart; // Lưu thông tin giỏ hàng
                    let html = "";
                    let total = 0;

                    cart.forEach((item, index) => {
                        const itemTotal = item.price * item.quantity;
                        total += itemTotal;

                        html += `<li>
${index + 1}. ${item.productName} (Size: ${item.size}) x${item.quantity}
<span>${itemTotal.toLocaleString('vi-VN')}đ</span>
</li>`;
                    });

                    document.getElementById("checkout-products").innerHTML = html;
                    document.getElementById("checkout-total").innerText = total.toLocaleString("vi-VN") + "đ";
                });

            // 3. Xử lý sự kiện submit form
            document.getElementById("checkout-form").addEventListener("submit", e => {
                e.preventDefault();

                // --- BỔ SUNG LOGIC LẤY DỮ LIỆU ---
                if (!currentUser || !currentUser.userID) {
                    alert("Không thể xác định người dùng. Vui lòng đăng nhập lại.");
                    return;
                }

                // Lấy giá trị payment method đã chọn
                const paymentValue = document.querySelector('input[name="paymentMethod"]:checked').value;
                // Ánh xạ giá trị sang ID (Giả sử COD=1, BANK=2 trong DB của bạn)
                const paymentMethodId = paymentValue === 'COD' ? 1 : 2;

                // Xây dựng body cho request khớp với OrderRequestDTO
                const body = {
                    userId: currentUser.userID, // <-- THIẾU
                    recipientName: document.getElementById("fullname").value, // <-- THIẾU
                    phone: document.getElementById("phone").value,
                    shippingAddress: document.getElementById("address").value, // Sửa 'address' thành 'shippingAddress'
                    note: document.getElementById("note").value,
                    paymentMethodId: paymentMethodId, // <-- THIẾU
                    orderItems: cartItems.map(item => ({ // <-- THIẾU
                        productId: item.productId,
                        productSizeId: item.productSizeId,
                        productName: item.productName,
                        size: item.size,
                        quantity: item.quantity,
                        price: item.price
                    }))
                };

                // --- CẬP NHẬT FETCH API ---
                fetch("/api/orders", { // Sửa endpoint từ "/api/orders/checkout" thành "/api/orders"
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(body)
                }).then(res => {
                    if (res.ok) {
                        alert("Đặt hàng thành công!");
                        // TODO: Xóa giỏ hàng ở đây
                        window.location.href = "/orders-history.html"; // Chuyển hướng đến trang lịch sử đơn hàng
                    } else {
                        res.json().then(error => {
                            alert("Đặt hàng thất bại: " + (error.message || "Vui lòng thử lại."));
                        });
                    }
                }).catch(err => {
                    console.error("Lỗi khi đặt hàng:", err);
                    alert("Đã có lỗi xảy ra. Vui lòng thử lại.");
                });
            });
        });
    </script>


</body>

</html>