<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Male_Fashion Template">
	<meta name="keywords" content="Male_Fashion, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Male-Fashion | Template</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
		rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="/css/style.css" type="text/css">

	<style>

		 /* Mega menu 2 cột cho header */
    .header__menu ul li .dropdown.mega-menu{
        width: 520px;
        padding: 20px 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        background: #111; /* hoặc màu nền phù hợp */
    }
    .header__menu ul li .dropdown.mega-menu > li.col{
        padding: 0;
        list-style: none;
    }
    .header__menu ul li .dropdown.mega-menu .title{
        display: block;
        font-weight: 700;
        color: #fff;
        margin-bottom: 10px;
        pointer-events: none;
    }
    .header__menu ul li .dropdown.mega-menu > li.col ul{
        margin: 0; padding: 0; list-style: none;
    }
    .header__menu ul li .dropdown.mega-menu > li.col ul li a{
        display: block;
        padding: 6px 0;
        color: #fff;
    }
    @media (max-width: 991px){
        .header__menu ul li .dropdown.mega-menu{
            width: auto;
            grid-template-columns: 1fr;
        }
    }


		/* Product name link styling */
		.product__item__text h6 a {
			color: #111111;
			text-decoration: none;
			transition: color 0.3s ease;
		}

		.product__item__text h6 a:hover {
			color: #ca1515;
			text-decoration: none;
		}

		.product__item__text h6 a:focus {
			outline: none;
			color: #ca1515;
		}
	</style>
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Offcanvas Menu Begin -->
	<div class="offcanvas-menu-overlay"></div>
	<div class="offcanvas-menu-wrapper">
		<div class="offcanvas__option">
			<div class="offcanvas__links">
				<a href="#">Sign in</a>
				<a href="#">FAQs</a>
			</div>
			<div class="offcanvas__top__hover">
				<span>Usd <i class="arrow_carrot-down"></i></span>
				<ul>
					<li>USD</li>
					<li>EUR</li>
					<li>USD</li>
				</ul>
			</div>
		</div>
		<div class="offcanvas__nav__option">
			<div class="header__search mobile-search">
				<input type="text" id="mobile-search-input" placeholder="Tìm kiếm sản phẩm...">
				<div id="mobile-search-results" class="header-search-results"></div>
			</div>
			<a href="#"><img src="img/icon/heart.png" alt=""></a>
			<a href="#"><img src="img/icon/cart.png" alt=""> <span th:text="${cartItemCount}">0</span></a>
			<div class="price" th:text="'$' + ${cartTotalPrice}">$0.00</div>
		</div>
		<div id="mobile-menu-wrap"></div>
		<div class="offcanvas__text">
			<p>Free shipping, 30-day return or refund guarantee.</p>
		</div>
	</div>
	<!-- Offcanvas Menu End -->

	<!-- header.html -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="header__top__left">
							<p>Miễn phí vận chuyển, đảm bảo hoàn trả trong 30 ngày.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-5">
						<div class="header__top__right">
							<div class="header__top__links">
                            <span th:if="${session.fullName != null}">
                                <a href="/account" th:text="${session.greetingMessage + ', ' + session.fullName}">Xin chào, User</a>
                                <a href="/logout">Đăng xuất</a>
                            </span>
								<span th:if="${session.fullName == null}">
                                <a href="/login">Đăng nhập</a>
                            </span>
							</div>
							<div class="header__top__hover">
								<span>VNĐ </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="header__logo">
						<a href="/"><img src="img/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<nav class="header__menu mobile-menu">
						<ul>
							<li><a href="/home">Trang chủ</a></li>
							<li class=""><a href="/shop">Cửa hàng</a></li>
							<li class="has-mega">
								<a href="#">Danh mục</a>
								<ul class="dropdown mega-menu" id="mega-root">
									<li class="col">
										<span class="title">Áo</span>
										<ul id="mega-ao"></ul>
									</li>
									<li class="col">
										<span class="title">Quần</span>
										<ul id="mega-quan"></ul>
									</li>
								</ul>
							</li>
							<li><a href="/blog.html">Blog</a></li>
							<li><a href="/contact.html">Liên hệ</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="header__nav__option">
						<a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
						<a href="/cart" style="color:black;">GIỎ HÀNG</a>

						<a href="/cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a>

					</div>
				</div>
			</div>
			<div class="canvas__open"><i class="fa fa-bars"></i></div>
		</div>
	</header>
	<!-- Header Section End -->


	<!-- Hero Section Begin -->
	<section class="hero">
		<div class="hero__slider owl-carousel">
			<div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-7 col-md-8">
							<div class="hero__text">
								<h6>Summer Collection</h6>
								<h2>Fall - Winter Collections 2030</h2>
								<p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
									commitment to exceptional quality.</p>
								<a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
								<div class="hero__social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-7 col-md-8">
							<div class="hero__text">
								<h6>Summer Collection</h6>
								<h2>Fall - Winter Collections 2030</h2>
								<p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
									commitment to exceptional quality.</p>
								<a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
								<div class="hero__social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->

	<!-- Banner Section Begin -->
	<section class="banner spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 offset-lg-4">
					<div class="banner__item">
						<div class="banner__item__pic">
							<img src="img/banner/banner-1.jpg" alt="">
						</div>
						<div class="banner__item__text">
							<h2>Clothing Collections 2030</h2>
							<a href="#">Shop now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="banner__item banner__item--middle">
						<div class="banner__item__pic">
							<img src="img/banner/banner-2.jpg" alt="">
						</div>
						<div class="banner__item__text">
							<h2>Accessories</h2>
							<a href="#">Shop now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="banner__item banner__item--last">
						<div class="banner__item__pic">
							<img src="img/banner/banner-3.jpg" alt="">
						</div>
						<div class="banner__item__text">
							<h2>Shoes Spring 2030</h2>
							<a href="#">Shop now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- Product Section Begin -->
	<section class="product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="filter__controls">
						<li class="active" data-filter="*">All Products</li>
						<li data-filter=".best-sellers">Best Sellers</li>
						<li data-filter=".new-arrivals">New Arrivals</li>
						<li data-filter=".hot-sales">Hot Sales</li>
					</ul>
				</div>
			</div>
			<div class="row product__filter">
				<!-- Best Sellers Products -->
				<div th:each="product : ${bestSellers}" class="col-lg-3 col-md-6 col-sm-6 mix best-sellers">
					<div class="product__item">
						<div class="product__item__pic set-bg" th:data-setbg="@{${product.imageUrl}}"
							style="position:relative;">
							<a th:href="@{'/product/' + ${product.productID}}">
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a>
									</li>
									<li><a th:href="'/product/' + ${product.productID}"><img src="img/icon/search.png"
												alt=""></a></li>
								</ul>
						</div>
						<div class="product__item__text">
							<h6><a th:href="'/product/' + ${product.productID}" th:text="${product.name}">Product
									Name</a></h6>
							<a href="#" class="add-cart">+ Add To Cart</a>
							<div class="rating">
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<h5 th:text="'$' + ${product.price}">$0.00</h5>
						</div>
					</div>
				</div>

				<!-- New Arrivals Products -->
				<div th:each="product : ${newArrivals}" class="col-lg-3 col-md-6 col-sm-6 mix new-arrivals">
					<div class="product__item">
						<div class="product__item__pic set-bg" th:data-setbg="@{${product.imageUrl}}"
							style="position:relative;">
							<a th:href="@{'/product/' + ${product.productID}}"> <span class="label">New</span>
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a>
									</li>
									<li><a th:href="'/product/' + ${product.productID}"><img src="img/icon/search.png"
												alt=""></a></li>
								</ul>
						</div>
						<div class="product__item__text">
							<h6><a th:href="'/product/' + ${product.productID}" th:text="${product.name}">Product
									Name</a></h6>
							<a href="#" class="add-cart">+ Add To Cart</a>
							<div class="rating">
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<h5 th:text="'$' + ${product.price}">$0.00</h5>
						</div>
					</div>
				</div>

				<!-- Hot Sales Products -->
				<div th:each="product : ${hotSales}" class="col-lg-3 col-md-6 col-sm-6 mix hot-sales">
					<div class="product__item sale">
						<div class="product__item__pic set-bg"
							th:data-setbg="${product.image != null ? product.image : 'img/product/product-1.jpg'}">
							<span class="label">Sale</span>
							<ul class="product__hover">
								<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
								<li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
								<li><a th:href="'/product/' + ${product.productID}"><img src="img/icon/search.png"
											alt=""></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h6><a th:href="'/product/' + ${product.productID}" th:text="${product.name}">Product
									Name</a></h6>
							<a href="#" class="add-cart">+ Add To Cart</a>
							<div class="rating">
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<h5 th:text="'$' + ${product.price}">$0.00</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Section End -->

	<!-- Categories Section Begin -->
	<section class="categories spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="categories__text">
						<h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="categories__hot__deal">
						<img src="img/product-sale.png" alt="">
						<div class="hot__deal__sticker">
							<span>Sale Of</span>
							<h5>$29.99</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-1">
					<div class="categories__deal__countdown">
						<span>Deal Of The Week</span>
						<h2 th:text="${featuredProduct != null ? featuredProduct.name : 'Featured Product'}">
							Multi-pocket Chest Bag Black</h2>
						<div class="categories__deal__countdown__timer" id="countdown">
							<div class="cd-item">
								<span>3</span>
								<p>Days</p>
							</div>
							<div class="cd-item">
								<span>1</span>
								<p>Hours</p>
							</div>
							<div class="cd-item">
								<span>50</span>
								<p>Minutes</p>
							</div>
							<div class="cd-item">
								<span>18</span>
								<p>Seconds</p>
							</div>
						</div>
						<a href="#" class="primary-btn">Shop now</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Categories Section End -->

	<!-- Instagram Section Begin -->
	<section class="instagram spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="instagram__pic">
						<div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-1.jpg"></div>
						<div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-2.jpg"></div>
						<div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-3.jpg"></div>
						<div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-4.jpg"></div>
						<div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-5.jpg"></div>
						<div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-6.jpg"></div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="instagram__text">
						<h2>Instagram</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua.</p>
						<h3>#Male_Fashion</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Instagram Section End -->

	<!-- Latest Blog Section Begin -->
	<section class="latest spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<span>Latest News</span>
						<h2>Fashion New Trends</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic set-bg" data-setbg="img/blog/blog-1.jpg"></div>
						<div class="blog__item__text">
							<span><img src="img/icon/calendar.png" alt=""> 16 February 2020</span>
							<h5>What Curling Irons Are The Best Ones</h5>
							<a href="#">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg"></div>
						<div class="blog__item__text">
							<span><img src="img/icon/calendar.png" alt=""> 21 February 2020</span>
							<h5>Eternity Bands Do Last Forever</h5>
							<a href="#">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg"></div>
						<div class="blog__item__text">
							<span><img src="img/icon/calendar.png" alt=""> 28 February 2020</span>
							<h5>The Health Benefits Of Sunglasses</h5>
							<a href="#">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Latest Blog Section End -->

<!-- footer.html -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua sắm</h6>
                    <ul>
                        <li><a href="#">Cửa hàng quần áo</a></li>
                        <li><a href="#">Giày thịnh hành</a></li>
                        <li><a href="#">Phụ kiện</a></li>
                        <li><a href="#">Khuyến mãi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Hỗ trợ</h6>
                    <ul>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                        <li><a href="#">Giao hàng</a></li>
                        <li><a href="#">Đổi trả & hoàn tiền</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Nhận tin mới</h6>
                    <div class="footer__newslatter">
                        <p>Đăng ký để nhận thông tin về sản phẩm mới, ưu đãi và khuyến mãi!</p>
                        <form action="#">
                            <input type="text" placeholder="Email của bạn">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->


	<!-- Search Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search products...">
				<div id="search-suggestions" class="search-suggestions"></div>
				<div id="search-results" class="search-results"></div>
			</form>
		</div>
	</div>
	<!-- Search End -->

	<!-- Js Plugins -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery.nicescroll.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/jquery.countdown.min.js"></script>
	<script src="/js/jquery.slicknav.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/main.js"></script>

	<script>
		$(document).ready(function () {
			// Mega menu: chia danh mục theo từ khóa "Áo" / "Quần"
			fetch("/api/categories")
				.then(res => res.json())
				.then(data => {
					const aoUL   = document.getElementById("mega-ao");
					const quanUL = document.getElementById("mega-quan");
					aoUL.innerHTML = "";
					quanUL.innerHTML = "";

					data.forEach(cat => {
						const name = (cat.name || "").toLowerCase();
						const li = document.createElement("li");
						li.innerHTML = `<a href="/shop?category=${cat.categoryID}">${cat.name}</a>`;
						// Nếu muốn chuyển trang shop và truyền category
						li.querySelector("a").addEventListener("click", function (e) {
							e.preventDefault();
							window.location.href = `/shop?category=${cat.categoryID}`;
						});
						if (name.includes("áo")) {
							aoUL.appendChild(li);
						} else if (name.includes("quần") || name.includes("quan")) {
							quanUL.appendChild(li);
						}
					});

					// Ẩn cột rỗng (nếu không có dữ liệu)
					if (!aoUL.children.length)  aoUL.closest("li.col").style.display = "none";
					if (!quanUL.children.length) quanUL.closest("li.col").style.display = "none";
				})
				.catch(err => console.error("Lỗi load danh mục mega menu:", err));
		});
	</script>
</body>

</html>