<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">\


    <style>
        /* Mega menu 2 cột cho header */
        .header__menu ul li .dropdown.mega-menu{
            width: 520px;
            padding: 20px 24px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
            background: #111; /* hoặc màu nền phù hợp */
        }
        .header__menu ul li .dropdown.mega-menu > li.col{
            padding: 0;
            list-style: none;
        }
        .header__menu ul li .dropdown.mega-menu .title{
            display: block;
            font-weight: 700;
            color: #fff;
            margin-bottom: 10px;
            pointer-events: none;
        }
        .header__menu ul li .dropdown.mega-menu > li.col ul{
            margin: 0; padding: 0; list-style: none;
        }
        .header__menu ul li .dropdown.mega-menu > li.col ul li a{
            display: block;
            padding: 6px 0;
            color: #fff;
        }
        @media (max-width: 991px){
            .header__menu ul li .dropdown.mega-menu{
                width: auto;
                grid-template-columns: 1fr;
            }
        }

    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- header.html -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Miễn phí vận chuyển, đảm bảo hoàn trả trong 30 ngày.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                            <span th:if="${session.fullName != null}">
                                <a href="/account" th:text="${session.greetingMessage + ', ' + session.fullName}">Xin chào, User</a>
                                <a href="/logout">Đăng xuất</a>
                            </span>
                                <span th:if="${session.fullName == null}">
                                <a href="/login">Đăng nhập</a>
                            </span>
                            </div>
                            <div class="header__top__hover">
                                <span>VNĐ </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/home">Trang chủ</a></li>
                            <li class=""><a href="/shop">Cửa hàng</a></li>
                            <li class="has-mega">
                                <a href="#">Danh mục</a>
                                <ul class="dropdown mega-menu" id="mega-root">
                                    <li class="col">
                                        <span class="title">Áo</span>
                                        <ul id="mega-ao"></ul>
                                    </li>
                                    <li class="col">
                                        <span class="title">Quần</span>
                                        <ul id="mega-quan"></ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/blog.html">Blog</a></li>
                            <li><a href="/contact.html">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="/cart" style="color:black;">GIỎ HÀNG</a>

                        <a href="/cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a>

                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th>SẢN PHẨM</th>
                                <th>SỐ LƯỢNG</th>
                                <th>TỔNG TIỀN </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="cart-body">
                            <!-- Nội dung sẽ được load từ JS -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__total">
                        <h6>TỔNG TIỀN</h6>
                        <ul>
                            <li>TỔNG <span id="cart-total">$0.00</span></li>
                        </ul>
                        <a href="/checkout" class="primary-btn">Đặt Hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <!-- footer.html -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Mua sắm</h6>
                        <ul>
                            <li><a href="#">Cửa hàng quần áo</a></li>
                            <li><a href="#">Giày thịnh hành</a></li>
                            <li><a href="#">Phụ kiện</a></li>
                            <li><a href="#">Khuyến mãi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Hỗ trợ</h6>
                        <ul>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Giao hàng</a></li>
                            <li><a href="#">Đổi trả & hoàn tiền</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Nhận tin mới</h6>
                        <div class="footer__newslatter">
                            <p>Đăng ký để nhận thông tin về sản phẩm mới, ưu đãi và khuyến mãi!</p>
                            <form action="#">
                                <input type="text" placeholder="Email của bạn">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->


    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script>
        function loadCart() {
            fetch("/api/cart")
                .then(res => res.json())
                .then(data => {
                    let html = "";
                    let total = 0;

                    data.forEach(item => {
                        total += item.total;

                        html += `
<tr>
    <td class="product__cart__item">
        <div class="product__cart__item__pic">
            <img src="${item.imageUrl}" alt="" style="width: 90px;">
        </div>
        <div class="product__cart__item__text">
            <h6>${item.productName}</h6>
            <span style="font-size: 13px; color: #777;">Size: <b>${item.size}</b></span>
        </div>
    </td>
    <td class="quantity-col">
        <input type="number"
               class="form-control"
               style="width: 70px; border-radius: 6px; padding: 4px 6px;"
               min="1"
               value="${item.quantity}"
               onchange="updateQuantity(${item.cartItemID}, this.value)">
    </td>
    <td class="cart__price">${item.total.toLocaleString('vi-VN')}đ</td>
    <td class="cart__close">
        <i class="fa fa-close" onclick="deleteItem(${item.cartItemID})"></i>
    </td>
</tr>
`;
                    });

                    document.getElementById("cart-body").innerHTML = html;
                    document.getElementById("cart-total").innerText = total.toLocaleString('vi-VN') + "đ";

                    // kiểm tra giỏ hàng rỗng
                    const checkoutBtn = document.querySelector(".primary-btn");
                    if (data.length === 0) {
                        checkoutBtn.classList.add("disabled");
                        checkoutBtn.style.pointerEvents = "none"; // không cho click
                        checkoutBtn.style.opacity = "0.5"; // làm mờ nút
                    } else {
                        checkoutBtn.classList.remove("disabled");
                        checkoutBtn.style.pointerEvents = "auto";
                        checkoutBtn.style.opacity = "1";
                    }
                });
        }


        function updateQuantity(cartItemId, quantity) {
            fetch("/api/cart/update", {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    cartItemID: cartItemId,
                    quantity: parseInt(quantity)
                })
            })
                .then(res => {
                    if (!res.ok) throw new Error("Update failed: " + res.status);
                    return res.text();
                })
                .then(msg => {
                    console.log("✅ Updated:", msg);
                    loadCart(); // reload lại cart
                })
                .catch(err => {
                    console.error("❌ Lỗi cập nhật:", err);
                    alert("Cập nhật thất bại: " + err.message);
                });
        }


        function deleteItem(id) {
            fetch(`/api/cart/delete?id=${id}`, { method: 'DELETE' })
                .then(() => loadCart());
        }

        document.addEventListener("DOMContentLoaded", loadCart);



  // load danh muục mega menu
            $(document).ready(function () {
            // Mega menu: chia danh mục theo từ khóa "Áo" / "Quần"
            fetch("/api/categories")
                .then(res => res.json())
                .then(data => {
                    const aoUL   = document.getElementById("mega-ao");
                    const quanUL = document.getElementById("mega-quan");
                    aoUL.innerHTML = "";
                    quanUL.innerHTML = "";

                    data.forEach(cat => {
                        const name = (cat.name || "").toLowerCase();
                        const li = document.createElement("li");
                        li.innerHTML = `<a href="/shop?category=${cat.categoryID}">${cat.name}</a>`;
                        // Nếu muốn chuyển trang shop và truyền category
                        li.querySelector("a").addEventListener("click", function (e) {
                            e.preventDefault();
                            window.location.href = `/shop?category=${cat.categoryID}`;
                        });
                        if (name.includes("áo")) {
                            aoUL.appendChild(li);
                        } else if (name.includes("quần") || name.includes("quan")) {
                            quanUL.appendChild(li);
                        }
                    });

                    // Ẩn cột rỗng (nếu không có dữ liệu)
                    if (!aoUL.children.length)  aoUL.closest("li.col").style.display = "none";
                    if (!quanUL.children.length) quanUL.closest("li.col").style.display = "none";
                })
                .catch(err => console.error("Lỗi load danh mục mega menu:", err));
        });

    </script>

</body>

</html>